body{
    background-color: lightgray;
}

input{
    height: 3rem;
    border-radius: 1rem;
    width: 60%;
    margin-right: 1rem;
    padding: 10px;
}

input::placeholder{
    font-size: 18px;
}

input :focus{
    border: none;
    outline: none;
    border-color: none;
}

input::content{
    font-size: 18px;
}

.add-btn{
    border-radius: 1rem;
    height: 3rem;
    width: 30%;
    margin-top: -0.3rem;
    font-size: 18px;
}

.todoItem{
    width: 62.5%;
}
.action-btn{
    border-radius: 1rem;
    margin-right: 1rem;
}

.completed{
    color: gray;
}

.gray{
    color: gray;
}

.black{
    color: black;
}