
<div class="row d-flex justify-content-center mt-5">
  <div class="col-md-6">
    <h2 class="text-center mb-4">My Todo App</h2>
    <input class="mr-2" type="text" #todoInput name="todoInput" placeholder="Enter Todo" />
    <button class="add-btn btn btn-danger" (click)="addTodoItem(todoInput)">Add Todo</button>
  </div>
</div>

<div class="row d-flex justify-content-center mt-5" *ngFor="let todo of todoData, index as i">
  <div class="col-md-6 d-flex">
    <p [ngClass]="todo.status ? 'gray':'black'" class="todoItem">{{todo.todo}}</p>
    <button [disabled]="todo.status" class="btn btn-danger action-btn" (click)="markComplete(i)">Mark Completed</button>
    <button [disabled]="" class="btn btn-danger action-btn" (click)="deleteTodo(i)">Delete</button>
  </div>
</div>
<h1>{{childData}}</h1>
<app-child-component [childData]="childData" (pData)="getData($event)"></app-child-component>
<router-outlet></router-outlet>
